{
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/quotes": ["error", "double", { "avoidEscape": true }],
    "@typescript-eslint/explicit-function-return-type": "off",
    "react/jsx-one-expression-per-line": "off",
    "no-restricted-globals": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never",
        "js": "never",
        "jsx": "never",
        "mjs": "never"
      }
    ],
    "comma-dangle": ["error", "never"],
    "arrow-body-style": "off",
    "object-curly-newline": "off",
    "react/button-has-type": "off",
    "implicit-arrow-linebreak": "off"
  }
}
