/* ------------------------------------ *\
# MULTISTEPFORM
\* ------------------------------------ */

.multiStepFormNavigationContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10px;
  background: #eef7f1;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 5px solid #ccc;
}

.multiStepFormNavigationButton {
  max-width: 300px;
}

.multiStepFormNavigationButtonHidden {
  visibility: hidden;
}

.multiStepFormNavigationTitle {
  text-align: center;
}

.multiStepFormStep {
  max-width: 1200px;
  margin: 0 auto;
  height: calc(100vh - 110px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.multiStepFormStepContainer {
  width: 80%;
}

.multiStepFormHeading {
  font-size: 36px;
  text-align: center;
  margin-bottom: 160px;
}

.progressBar {
  appearance: none;
  position: absolute;
  top: -5px;
  left: 0;
  height: 5px;
  background: #07244f;
  transition: width 300ms ease-in-out;
}

:global(.stepTransition) {
  display: none;
}

:global(.stepTransition-enter) {
  opacity: 0.3;
}

:global(.stepTransition-enter) ~ :global(.stepTransition-exit-active) {
  display: none;
}

:global(.stepTransition-enter-active) {
  opacity: 1;
  transition: opacity 300ms;
}

:global(.stepTransition-exit) {
  opacity: 1;
}

:global(.stepTransition-exit-active) {
  opacity: 0.3;
  transition: opacity 300ms;
}
