import React from "react";

import styles from "./index.module.css"

const {{pascalCase name}} = () => {
  return (
    <div className={ styles.{{camelCase name}} }>
      <h1>{{upperCase name}}</h1>
    </div>
  )
}

export default {{pascalCase name}};
