/* ------------------------------------ *\
# TABMENU
\* ------------------------------------ */

.tabButtonSelected {
  border-top: 3px solid red;
}

.tab {
  display: none;
}

.tabButton {
  padding: 20px 10px;
  border-radius: 3px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-bottom-color: rgb(251, 241, 238);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgb(251, 241, 238);
  position: relative;
  z-index: 1;
  margin-bottom: -1px;
  font-size: 18px;
}

.tabButtonSelected {
  border-top: 3px solid #07244f;
}
.tabPanel {
  display: none;
}

.tabPanelSelected {
  display: block;
  padding: 50px 10px;
  background: rgb(251, 241, 238);
  border: 1px solid #ccc;
  max-width: 800px;
  font-size: 16px;
}
