body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
}
a {
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
span,
div,
label,
legend,
a,
button,
blockquote {
  font-family: "Open Sans", sans-serif;
}

/* ------------------------------------ *\
# ACCORDION
\* ------------------------------------ */
.Accordion_accordion__2EIhX {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}
.Accordion_accordionSection__JGwGE {
  display: none;
}

.Accordion_accordionSectionExpanded__2DRWq {
  display: block;
}

.Accordion_accordionButtonExpandAll__3q-OO {
  max-width: 256px;
  margin-bottom: 20px;
  margin-left: auto;
}

.Accordion_accordionItem__2m2X- {
  width: 100%;
  margin-bottom: 20px;
}

.Accordion_accordionTitle__1_W-D {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Accordion_accordionItemButton__1vEFy {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  background: rgb(251, 241, 238);
  color: #07244f;
  text-align: left;
}

.Accordion_accordionIcon__1Liu9 {
  margin-left: 20px;
  font-size: 24px;
  font-weight: 700;
}

.Accordion_accordionSection__JGwGE {
  background-color: rgb(238, 247, 241);
  padding: 15px;
  font-size: 16px;
  color: #07244f;
  line-height: calc(18 / 16);
}

/* ------------------------------------ *\
# BUTTON
\* ------------------------------------ */

.Button_button__1yaWD {
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 0.64px;
  text-align: center;
  line-height: 24px;
  width: 100%;
  padding: 8px 0;
  height: 50px;
  text-transform: uppercase;
}

.Button_buttonPrimary__1apLu {
  background-color: #07244f;
  border: 1px solid #07244f;
  color: #fff;
  text-transform: uppercase;
}

.Button_buttonPrimary__1apLu:hover {
  background-color: #385072;
}

.Button_buttonSecondary__1yJ6B {
  border: 1px solid #07244f;
  background-color: #fff;
  color: #07244f;
}

.Button_buttonSecondary__1yJ6B:hover {
  background-color: #f3f3f3;
}

/* ------------------------------------ *\
# CHECKBOXINPUT
\* ------------------------------------ */

.CheckboxInput_checkbox__hcseV {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.CheckboxInput_checkboxLabel__GMOwT {
  display: block;
  font-size: 18px;
}

.CheckboxInput_checkboxLabelText__1cK3L {
  display: flex;
  align-items: center;
  font-family: "Open Sans";
  position: relative;
}

.CheckboxInput_checkboxLabelText__1cK3L:before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  margin-right: 20px;
  background: white;
}

.CheckboxInput_checkbox__hcseV:focus + .CheckboxInput_checkboxLabelText__1cK3L:before {
  border-color: #333;
  outline: 3px solid #ffbf47;
}

.CheckboxInput_checkbox__hcseV:checked + .CheckboxInput_checkboxLabelText__1cK3L:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  background: #333;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 #333, 4px 0 0 #333, 4px -2px 0 #333, 4px -4px 0 #333,
    4px -6px 0 #333, 4px -8px 0 #333;
  transform: rotate(45deg);
}

/* ------------------------------------ *\
# CHECKBOXGROUP
\* ------------------------------------ */

.CheckboxGroup_checkboxGroupLegend__J8I9P {
  margin: 0;
}

.CheckboxGroup_checkboxGroupLegendSubtitle__3JreT {
  margin: 15px 0;
  display: block;
}

.CheckboxGroup_checkboxItemContainer__3ddUq {
  margin: 15px 0;
}

/* ------------------------------------ *\
# LABEL
\* ------------------------------------ */
.Label_container__2KSwz {
  padding-top: 18px;
  position: relative;
  width: 100%;
}

.Label_label__17yxH {
  position: absolute;
  font-size: 18px;
  top: 18px;
  left: 0;
  color: #767676;
  transition: all 0.2s;
  font-family: "Open Sans";
  pointer-events: none;
}

.Label_labelFloating__2bJ2u {
  top: -14px;
  bottom: auto;
  font-size: 14px;
  color: #333;
  transition: all 0.2s;
}

/* ------------------------------------ *\
# INPUTERRORMESSAGE
\* ------------------------------------ */

.ErrorMessage_errorMessage__17mXG {
  position: absolute;
  left: 0;
  top: calc(100% + 8px);
  font-size: 14px;
  color: crimson;
  letter-spacing: 0;
  line-height: 22px;
  padding-top: 8px;
  font-family: "Open Sans";
  font-weight: 700;
}

.CalendarDay {
  vertical-align: middle;
}

.SingleDatePicker,
.SingleDatePickerInput {
  width: 100%;
}

.SingleDatePickerInput .DateInput {
  width: 100%;
}

.SingleDatePickerInput .DateInput_input {
  border: 0;
  padding: 15px 0;
}

.DateInput_fang {
  top: 65px !important;
}

.SingleDatePicker_picker {
  top: 76px !important;
}

/* ------------------------------------ *\
# DATEPICKER
\* ------------------------------------ */

.DatePicker_datePickerContainer__2uIFi {
  position: relative;
}

.DatePicker_datePickerInputContainer__3EO47 {
  /* padding: 15px 0; */

  border-bottom: 1px solid #767676;
}

.DatePicker_datePickerInputContainerFocused__1CsvF,
.DatePicker_datePickerInputContainerCompleted__3Jnlm {
  border-bottom-color: #333;
}

.DatePicker_datePickerInputContainerError__2BFxo {
  border-bottom-color: crimson;
}

.DatePicker_selectedDate__3_j7D {
  position: absolute;
  left: 0;
  top: calc(100% + 8px);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  padding-top: 8px;
  font-family: "Open Sans";
}

/* ------------------------------------ *\
# DATEPICKER
\* ------------------------------------ */

.DateRangePicker_dateRangePickerLabel__tuiwY {
  margin-bottom: 15px;
}

.CalendarDay {
  vertical-align: middle;
}

.DateRangePicker_picker {
  top: 76px !important;
}

.TextInput_textInput__mvWHW {
  border: 0;
  border-bottom: 1px solid #767676;
  padding: 15px 0;
  width: 100%;
  font-size: 18px;
  outline: none;
}

.TextInput_textInput__mvWHW:focus {
  border-bottom-color: #333;
  box-shadow: 0px 2px 0px 0px #ffbf47;
}

.TextInput_textInputError__2NL1s {
  border-bottom-color: crimson;
}

.TextInput_textInputContainer__3Xje3 {
  position: relative;
}

/* ------------------------------------ *\
# GOOGLEAUTOCOMPLETE
\* ------------------------------------ */

.GoogleAutoComplete_googleAutoComplete__MlRJh {
  position: relative;
}

.GoogleAutoComplete_autoCompleteListContainer__6hATI {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.GoogleAutoComplete_autoCompleteListItem__1QK9j {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  cursor: pointer;
}

/* ------------------------------------ *\
#MODAL
We should leave only the bare minimum
of styling on this component to make
it reusable. ie. Modal box padding can
be applied to the child components.
\* ------------------------------------ */

.Modal_modal__3ienQ {
  background-color: rgb(238, 247, 241);
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  width: 900px;
  position: relative;
  padding: 40px 35px;
}

.Modal_modalOverlay__2XtL8 {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  left: 0;
  opacity: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.25s ease-in-out;
  z-index: 10;
}
.Modal_modalOverlayAfterOpen__2cSuJ {
  opacity: 1;
}

.Modal_modalOverlayBeforeClose__BoRpW {
  opacity: 0;
}

.Modal_modalCloseContainer__igtX5 {
  position: absolute;
  right: 20px;
  top: 20px;
}

.Modal_modalHeadingContainer__3LUwG {
  padding-bottom: 10px;
}

.Modal_modalTitleDescription__16ODa {
  white-space: pre-wrap;
}

.visibly-hidden {
  z-index: -1;
  opacity: 0;
  position: relative;
}

/* ------------------------------------ *\
# NAMESTEP
\* ------------------------------------ */

.NameStep_nameStepHeading__14abc {
  text-align: center;
  font-size: 48px;
  margin-bottom: 80px;
}

/* ------------------------------------ *\
# CHECKBOXINPUT
\* ------------------------------------ */

.RadioGroup_radioInput__1mNLm {
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  z-index: 1;
  margin: 0;
  opacity: 0;
}

.RadioGroup_radioInput__1mNLm:focus + .RadioGroup_radioInputLabelText__1G0FC:before {
  box-shadow: 0 0 0 3px #ffbf47;
}

.RadioGroup_radioInputLabel__2axr9 {
  display: block;
  margin: 15px 0;
  position: relative;
  font-size: 18px;
}

.RadioGroup_radioInputLabelText__1G0FC {
  display: flex;
  align-items: center;
  font-family: "Open Sans";
  position: relative;
}

.RadioGroup_radioInputLabelText__1G0FC:before {
  content: "";
  width: 24px;
  height: 24px;
  border: 1px solid #ccc;
  margin-right: 20px;
  background: white;
  border-radius: 50%;
}

.RadioGroup_radioInput__1mNLm:focus + .RadioGroup_radioInputLabelText__1G0FC:before {
  border-color: #333;
}

.RadioGroup_radioInput__1mNLm:checked + .RadioGroup_radioInputLabelText__1G0FC:after {
  content: "";
  border: 7px solid #333;
  width: 0;
  height: 0;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
}

.RadioGroup_radioGroupLegend__2GHvG {
  margin: 15px 0;
}

.RadioGroup_radioGroupFieldset__1AFFY {
  position: relative;
}

/* ------------------------------------ *\
# NOODLESTEP
\* ------------------------------------ */

.NoodleStep_noodleStepHeading__2iA44 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 80px;
}

/* ------------------------------------ *\
# TOPPINGSTEP
\* ------------------------------------ */

.ToppingStep_toppingStepHeading__1cvR8 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 80px;
}

/* ------------------------------------ *\
# SPICESTEP
\* ------------------------------------ */

.SpiceStep_spiceStepHeading__2WlHx {
  text-align: center;
  font-size: 48px;
  margin-bottom: 80px;
}

/* ------------------------------------ *\
# MULTISTEPFORM
\* ------------------------------------ */

.MultiStepForm_multiStepFormNavigationContainer__30IU5 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10px;
  background: #eef7f1;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 5px solid #ccc;
}

.MultiStepForm_multiStepFormNavigationButton__2Z6uM {
  max-width: 300px;
}

.MultiStepForm_multiStepFormNavigationButtonHidden__1-hl1 {
  visibility: hidden;
}

.MultiStepForm_multiStepFormNavigationTitle__vvC3o {
  text-align: center;
}

.MultiStepForm_multiStepFormStep__DgOO8 {
  max-width: 1200px;
  margin: 0 auto;
  height: calc(100vh - 110px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.MultiStepForm_multiStepFormStepContainer__2a4yL {
  width: 80%;
}

.MultiStepForm_multiStepFormHeading__CKmxa {
  font-size: 36px;
  text-align: center;
  margin-bottom: 160px;
}

.MultiStepForm_progressBar__6yjbJ {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  top: -5px;
  left: 0;
  height: 5px;
  background: #07244f;
  transition: width 300ms ease-in-out;
}

.stepTransition {
  display: none;
}

.stepTransition-enter {
  opacity: 0.3;
}

.stepTransition-enter ~ .stepTransition-exit-active {
  display: none;
}

.stepTransition-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.stepTransition-exit {
  opacity: 1;
}

.stepTransition-exit-active {
  opacity: 0.3;
  transition: opacity 300ms;
}

/* ------------------------------------ *\
# RANGEINPUT
\* ------------------------------------ */

.RangeInput_inputContainer__3GXqR {
  border-left: 2px solid #077bbf;
  border-right: 2px solid #ddd;
  padding: 5px 0;
  margin-top: 45px;
}

.RangeInput_rangeInput__1UnvM {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%; /* Full-width */
  height: 2px; /* Specified height */
  outline: none; /* Remove outline */
  display: block;
  margin: 0;
  padding: 1px;
}

.RangeInput_rangeInput__1UnvM::-webkit-slider-thumb:hover,
.RangeInput_rangeInput__1UnvM:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 8px rgba(7, 124, 192, 0.2);
}

.RangeInput_rangeInput__1UnvM::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #077bbf; /* Blue background */
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
}

.RangeInput_rangeInput__1UnvM::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #077bbf; /* Blue background */
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
}

.RangeInput_rangeInputLabelText__21Nwa {
  display: block;
  margin-bottom: 20px;
}

/* ------------------------------------ *\
# SELECTINPUT
\* ------------------------------------ */

.SelectInput_selectInput__1g0FP {
  border: 0;
  border-bottom: 1px solid #767676;
  padding: 15px 0;
  width: 100%;
  font-size: 18px;
  outline: none;
  background: none;
  border-radius: 0;
  -webkit-appearance: none;
}

.SelectInput_selectInput__1g0FP:focus {
  border-bottom-color: #333;
  box-shadow: 0px 2px 0px 0px #ffbf47;
}

.SelectInput_selectInputError__1yQv0 {
  border-bottom-color: crimson;
}

.SelectInput_selectInputContainer__18met {
  position: relative;
}

.SelectInput_selectInputContainer__18met:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 15px;
  border: 5px solid #333;
  border-color: #333 transparent transparent transparent;
  transition: 0.4s all ease-in-out;
  z-index: -1;
}

/* ------------------------------------ *\
# TABMENU
\* ------------------------------------ */

.TabMenu_tabButtonSelected__24oU- {
  border-top: 3px solid red;
}

.TabMenu_tab__10Fer {
  display: none;
}

.TabMenu_tabButton__3dk2S {
  padding: 20px 10px;
  border-radius: 3px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-bottom-color: rgb(251, 241, 238);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgb(251, 241, 238);
  position: relative;
  z-index: 1;
  margin-bottom: -1px;
  font-size: 18px;
}

.TabMenu_tabButtonSelected__24oU- {
  border-top: 3px solid #07244f;
}
.TabMenu_tabPanel__3Up7F {
  display: none;
}

.TabMenu_tabPanelSelected__3haFH {
  display: block;
  padding: 50px 10px;
  background: rgb(251, 241, 238);
  border: 1px solid #ccc;
  max-width: 800px;
  font-size: 16px;
}

/* ------------------------------------ *\
# TABLE
\* ------------------------------------ */

.Table_tableDesktop__1mbtu,
.Table_tableMobile__34Krn {
  color: #07244f;
  border-collapse: separate;
  border-collapse: initial;
  width: 100%;
  padding: 10px;
}

.Table_tableDesktop__1mbtu {
  display: none;
}

.Table_tableMobile__34Krn {
  display: block;
}

.Table_tableRow__3G4ou {
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 15px;
}

.Table_tableCell__1etdM {
  padding: 20px;
  border-collapse: collapse;
}

.Table_tableHeader__3L44h {
  padding: 15px;
  text-align: left;
  font-weight: 700;
  text-transform: capitalize;
}

.Table_tableCaption__2O_kE {
  margin: 40px 0;
  text-align: left;
  text-transform: capitalize;
  font-weight: bold;
}

.Table_tableHeaderMobile__3Gtsj {
  background: #07244f;
  color: rgb(238, 247, 241);
  padding: 20px 15px;
}

@media (min-width: 768px) {
  .Table_tableRow__3G4ou {
    padding: 0;
  }

  .Table_tableRow__3G4ou:nth-child(even) {
    background: rgb(238, 247, 241);
  }

  .Table_tableMobile__34Krn {
    display: none;
  }

  .Table_tableDesktop__1mbtu {
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgb(251, 241, 238);
    padding: 0;
    display: table;
  }

  .Table_tableHeader__3L44h {
    padding: 20px;
  }
}


/*# sourceMappingURL=main.4438b1e3.chunk.css.map*/